
		body{background: #f2f2f2;font-size: 12px;}
	
		.navbar-default{background-color: #fff;box-shadow: 0 2px 2px rgba(0,0,0,0.2);position: relative;z-index: 999 }
		.container>.navbar-header, .container>.navbar-collapse{margin: 0;}
		.container{padding: 0;}
		.navbar-default{padding: 10px 0 0 0;}
		.navbar-brand{padding: 0;}
		.navbar-nav>li>a{padding: 10px 0 10px 0;}
		.navbar-default .navbar-nav>li>a{color: #646464;text-align: center;}
		.navbar-default .navbar-nav>.active>a{color: #FFC107;background-color: #fff;border-bottom:4px #FFC107 solid ;text-align: center;}
		.navbar-default .navbar-nav>li>a:hover{border-bottom:4px #FFC107 solid;color: #FFC107}
		.pic_1,.pic_7{position: relative;}
		.pic_1 a,.pic_7 a{display: block;position: absolute;left:29%;width: 14%;}
		.pic_1 a:last-child{top: 66%; }
		.pic_7 a{left: 50%;transform: translateX(-50%);}
		.pic_7 a:last-child{top:65%;}
		.pic_3,.pic_4,.pic_5,.pic_6{position: relative;}
		.pic_3_1,.pic_4_1,.pic_5_1,.pic_6_1{position: absolute;top:56%;background: rgba(248,248,248,0.95);width: 100%;height: 44%;}
		.pic_3_1 p,.pic_4_1 p,.pic_5_1 p,.pic_6_1 p{position: absolute;left: 30%;}
		.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{top: 24%;}
		.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{top: 48%; border-left: 4px solid #FFC107;line-height: 80%;color: #808080;}
		.pic_4_1 .p2,.pic_6_1 .p2{border-left-color: #35C311}
		.pic_3_1 img,.pic_4_1 img,.pic_5_1 img,.pic_6_1 img{position: absolute;left:62%; width: 12%;top: -30%;}
		.pic_4_1 p,.pic_6_1 p{left: 52%;}
		.pic_4_1 img,.pic_6_1 img{left: 30%;}

		.footer{text-align: center;font-size: 12px;color: #646464;border-top: 1px solid #ccc}

		@media screen and (min-width: 1200px){
		.navbar-default{padding: 6px 104px  0px 354px;}
		.navbar-brand{padding: 0;width: 45px;height: 45px;margin-right: 169px;margin-bottom: 3px;}
		.navbar-nav>li>a{font-size: 13px;margin:0 80px;letter-spacing: 2px;padding-bottom: 15px}
		.navbar-nav>li>a:first-child{margin-left: 0}
		
		.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{font-size: 34px;}
		.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{font-size: 22px;padding-left: 7px;}

		.footer{height: 50px;line-height: 50px;}
		.footer span:last-child{margin-left: 43px;}
		}
		@media (max-width: 1199px) and (min-width: 993px){
		.navbar-default{padding: 6px 104px  0 224px;}
		.navbar-brand{padding: 0;width: 40px;height: 40px;margin-right: 169px;}
		.navbar-nav>li>a{font-size: 13px;margin:0 80px;letter-spacing: 2px}
		.navbar-nav>li>a:first-child{margin-left: 0}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{font-size: 28px;}
			.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{font-size: 18px;padding-left: 7px;}
		}
		@media (max-width: 992px) and (min-width: 769px){
		.navbar-default{padding: 6px 104px  0 0;}
		.navbar-brand{padding: 0;width: 40px;height: 40px;margin-right: 169px;}
		.navbar-nav>li>a{font-size: 13px;margin:0 80px;letter-spacing: 2px}
		.navbar-nav>li>a:first-child{margin-left: 0}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{font-size: 23px;}
			.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{font-size: 14px;padding-left: 7px;}
		}
		@media (max-width: 768px) and (min-width: 415px){
		.navbar-default{padding: 6px 0px  0 0px;}
		.navbar-brand{padding: 0;width: 40px;height: 40px;margin-right: 169px;}
		.navbar-nav>li>a{font-size: 13px;letter-spacing: 2px}
		.navbar-nav>li>a:first-child{margin-left: 0}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{font-size: 19px;}
			.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{font-size: 12px;padding-left: 7px;}
		}
		@media (max-width: 414px) and (min-width: 376px){
			.navbar-default{padding: 0;}

			.pic_4_1 p,.pic_6_1 p{left: 40%;}
			.pic_4_1 img,.pic_6_1 img{left: 16%;}
			.pic_3_1 p,.pic_5_1 p{left: 16%;}
			.pic_3_1 img,.pic_5_1 img{left: 71%;}

			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{top: 5%;}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{font-size: 14px;}
			.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{font-size: 12px;padding-left: 7px;}
			.pic_3_1 img,.pic_4_1 img,.pic_5_1 img,.pic_6_1 img{width: 20%;top: -90%;}
		}
		@media (max-width: 375px) and (min-width: 321px){
			.navbar-default{padding: 0;}
			

			.pic_4_1 p,.pic_6_1 p{left: 40%;}
			.pic_4_1 img,.pic_6_1 img{left: 16%;}
			.pic_3_1 p,.pic_5_1 p{left: 16%;}
			.pic_3_1 img,.pic_5_1 img{left: 71%;}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{top: 5%;}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{font-size: 14px;}
			.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{font-size: 12px;padding-left: 7px;}
			.pic_3_1 img,.pic_4_1 img,.pic_5_1 img,.pic_6_1 img{width: 20%;top: -90%;}
		}
		@media (max-width: 320px) and (min-width: 1px){
			.navbar-default{padding: 0;}
			
			.pic_4_1 p,.pic_6_1 p{left: 40%;}
			.pic_4_1 img,.pic_6_1 img{left: 16%;}
			.pic_3_1 p,.pic_5_1 p{left: 16%;}
			.pic_3_1 img,.pic_5_1 img{left: 71%;}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{top: 5%;}
			.pic_3_1 .p1,.pic_4_1 .p1,.pic_5_1 .p1,.pic_6_1 .p1{font-size: 14px;}
			.pic_3_1 .p2,.pic_4_1 .p2,.pic_5_1 .p2,.pic_6_1 .p2{font-size: 12px;padding-left: 7px;}
			.pic_3_1 img,.pic_4_1 img,.pic_5_1 img,.pic_6_1 img{width: 20%;top: -90%;}
		}
common.css
