<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>优邻~只为方便您的生活</title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<link href="{{STATIC_URL}}assets/css/jquery.mobile-1.4.5.min.css" rel="stylesheet">
	<script src="{{STATIC_URL}}assets/js/jquery-2.0.3.min.js"></script>
	<script>
	$(function(){
		$(":jqmData(role='page')").attr("data-title", document.title);
	})
	</script>
	<script src="{{STATIC_URL}}assets/js/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
	<div data-role="page" id="selectecity">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/css/bind.css">
		<div data-role="header" id="header">
			<h1>微信&优邻</h1>
			<a href="/yl/wx/neighbor" data-role="button" data-icon="home" class="ui-btn-right"data-ajax="false">邻居圈</a>
		</div>
		<div role="main">
			<form action="">
				<input type="text" placeholder="请输入优邻帐号">
				<input type="password" placeholder="请输入优邻密码">
				<button class="ui-btn ui-shadow" type="submit" style="color: #FFC107">解除绑定</button>
			</form>
			<!-- <a href="download.html" class="download">没有优邻帐号？ 请点击这里</a> -->
		</div>
	</div>

</body>
</html>