<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>培训详情</title>
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ylbootstrap.min.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ylfont-awesome.min.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ylactionBar.css"/>
<script src="{{STATIC_URL}}assets/js/jquery-2.0.3.min.js"></script>
<script src="{{STATIC_URL}}assets/js/yl-bootstrap.min.js"></script>
<script src="{{STATIC_URL}}assets/js/yldevice-toucher.js"></script>
<script src="{{STATIC_URL}}assets/js/ylhammer.min.js"></script>
<script src="{{STATIC_URL}}assets/js/ylfastclick.js"></script>
<style type="text/css">
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaheiUI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
  		padding-top: 50px;/*有顶部固定导航条时设置*/
  		padding-bottom: 20px;/*有底部固定导航条时设置*/
  		background-color: #fff;
	}
	.myDiv{
		margin: 0px;
		padding: 16px;
		letter-spacing: 2px;
	}
</style>
</head>
<body>
	<div class="actionbar navbar-fixed-top">
		<div style="float: left;" onclick="javascript:history.go(-1)">
			<i class="fa fa-angle-left" style="margin-left:10px;color:#ffffff;font-size:32px; margin-top:7px;"></i>
		</div>
		<div style="float: left;padding-top: 15px;padding-left: 7px;" onclick="javascript:history.go(-1)">
			<span  onclick="" style="font-size: 16px;color: #fff;">详情</span>
		</div>
	</div>
	<div class="myDiv" style="margin-bottom:20px;">
		<p style="font-size: 15px;color: #323232;width: 100%;">14加快了速度将大赛的哈萨克的很快就阿萨德拉斯看得见阿卡林的萨达</p>
		<p style="font-size:13px;color:#323232;width: 100%;">法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发</p>
		<img src="{{STATIC_URL}}square/img/train_detail.png" style="width: 100%;height: width*0.5">
		<p style="font-size:13px;color:#323232;margin-top: 13px;">法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发法规尽快发货的计划分解到好久发货的数据恢复数据库地方哈萨克减肥换金动画设计开发</p>
		<div>
			<button class="btn btn-danger" style="background-color: #fa5c10;float:left;margin-bottom: 16px;">立即报名</button>
			<button class="btn btn-danger" style="background-color: #fa5c10;float:right;margin-bottom: 16px;">联系客服</button>
		</div>
	</div>
<script type="text/javascript">
$(function() {
    FastClick.attach(document.body);
    var name = {{res_data.temp}};
});
</script>
</body>
</html>