<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>培训</title>
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ylbootstrap.min.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ylfont-awesome.min.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ylactionBar.css"/>
<script src="{{STATIC_URL}}assets/js/jquery-2.0.3.min.js"></script>
<script src="{{STATIC_URL}}assets/js/yl-bootstrap.min.js"></script>
<script src="{{STATIC_URL}}assets/js/yldevice-toucher.js"></script>
<script src="{{STATIC_URL}}assets/js/ylhammer.min.js"></script>
<script src="{{STATIC_URL}}assets/js/ylfastclick.js"></script>
<style type="text/css">
body{
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaheiUI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}
.myImg{
	width: 90px;
	height: 80px;
	margin: 10px;
}
.myLeft{
	float: left;
}
.myRight{
	margin-left: 100px;
	padding-top: 10px;
	padding-right: 10px;
}
.mySpanTitle{
	font-size:14px;
	color: #323232; 
}
.myPContent{
	font-size:12px;
	color: #808080; 
}
.myAddressImg{
	width:10px;
	height:12px;
	margin-right: 3px;
}
.myAddressText{
	font-size: 10px;
	color: #b5b5b5;
	margin: auto;
}
</style>
</head>
<body>
	<div class="actionbar navbar-fixed-top">
		<div style="float: left;" onclick="myBack()">
			<i class="fa fa-angle-left" style="margin-left:10px;color:#ffffff;font-size:32px; margin-top:7px;"></i>
		</div>
		<div style="float: left;padding-top: 15px;padding-left: 7px;" onclick="myBack()">
			<span  onclick="" style="font-size: 16px;color: #fff;">培训</span>
		</div>
	</div>
	<div onclick="javascript:window.location.href='https://www.youlinzj.cn/yl/web/myTrainDetail?name=1'">
		<div class="myLeft"><img class="myImg" src="{{STATIC_URL}}square/img/train_img1.png"></div>
		<div class="myRight">
			<span class="mySpanTitle">[童城童美]少儿编程</span>
			<p class="myPContent">全称童城童美科技有限公司，隶属于中科院，课程涵盖少儿电脑编程，乐高机器人...</p>
			<div>
				<i class="fa fa-map-marker myAddressImg"></i>
				<span class="myAddressText">哈尔滨市道里区欧洲新城小区...</span>
				<a href="#" class="btn btn-danger btn-xs" style="background-color: #fa5c10;float:right">立即报名</a>	
			</div>
		</div>
	</div>
	<div style=" width: 100%;height:0px;border-bottom: 1px solid #f3f2f0;margin-top: 8px;"></div>

	<div onclick="javascript:window.location.href='https://www.youlinzj.cn/yl/web/myTrainDetail'">
		<div class="myLeft"><img class="myImg" src="{{STATIC_URL}}square/img/train_img2.png"></div>
		<div class="myRight">
			<span class="mySpanTitle">[童城童美]少儿编程</span>
			<p class="myPContent">全称童城童美科技有限公司，隶属于中科院，课程涵盖少儿电脑编程，乐高机器人...</p>
			<div>
				<i class="fa fa-map-marker myAddressImg"></i>
				<span class="myAddressText">哈尔滨市道里区欧洲新城小区...</span>
				<a href="#" class="btn btn-danger btn-xs" style="background-color: #fa5c10;float:right">立即报名</a>	
			</div>
		</div>
	</div>
	<div style=" width: 100%;height:0px;border-bottom: 1px solid #f3f2f0;margin-top: 8px;"></div>

	<div onclick="javascript:window.location.href='https://www.youlinzj.cn/yl/web/myTrainDetail'">
		<div class="myLeft"><img class="myImg" src="{{STATIC_URL}}square/img/train_img2.png"></div>
		<div class="myRight">
			<span class="mySpanTitle">[童城童美]少儿编程</span>
			<p class="myPContent">全称童城童美科技有限公司，隶属于中科院，课程涵盖少儿电脑编程，乐高机器人...</p>
			<div>
				<i class="fa fa-map-marker myAddressImg"></i>
				<span class="myAddressText">哈尔滨市道里区欧洲新城小区...</span>
				<a href="#" class="btn btn-danger btn-xs" style="background-color: #fa5c10;float:right">立即报名</a>	
			</div>
		</div>
	</div>
	<div style=" width: 100%;height:0px;border-bottom: 1px solid #f3f2f0;margin-top: 8px;"></div>

<script type="text/javascript">
$(function() {
    FastClick.attach(document.body);
    
});
function myBack(){
	myObj.mFinish();
}
</script>
</body>
</html>